@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

header{
    background-color: #49A0EB;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    width: full;
}

section{
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 70vh;
}

.input-div, .output-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.user-input, .output-box{
    font-size: 15px;
    padding: 5px;
    margin-bottom: 10px;
}

.output-box{
    font-size: 15px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    border: 2px solid #49A0EB
}

.btn{
    padding: 10px 20px;
    background-color: #49A0EB;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}


.output-header{
    margin-bottom: 10px;
    font-size: 20px;
}

footer{
    background-color: #49A0EB;
    padding: 30px;
    text-align: center;
}

footer>ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

footer>ul>li {
    padding: 20px;
}